*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Protest Strike", sans-serif;
}
a{
    color: black;
}

.header{
    height: 60px;
    width: 100%;
    background-color: rgba(230, 71, 71, 0.921);
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
}
.nev-left{
    padding: 10px;
    font-size: 15px;
    text-shadow: 3px 3px 2px rgb(73, 72, 72);

}
.nev-right i{
    padding: 10px;
    font-size: 30px;
}


.menu{
    display: none;
    height: 500%;
    width: 50%;
    background-color:rgb(230, 71, 71) ;
    position: absolute;
    right: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menu h2{
    padding: 10px;
    margin: 20px;
    border: solid black 2px;
}
.menu h1{
    text-align: start;
    margin: 10px 
}

.index{
    width: 100%;
    height: 500px;
    margin-top: 60px;
}
.index .cont-1{
    width: 80%;
    height: 60%;
    background-color: beige;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-radius: 20px;
    text-align: center;
}
.index .cont-1 h1{
    width: 55px;
    height: 55px;
    font-size: 40px;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-radius: 50%;
}
.index .cont-1 button{
    width: 70px;
    padding: 5px;
    margin: 10px;
    background-color: gray;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.index .cont-1 h2{
    margin: 5px;
    color: rgb(230, 71, 71);
}

.index .cont-2{
    width: 100%;
    height: 850px;
    position: relative;
}
.index .cont-2 .slide{
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 40px;
}
.index .cont-2 .slide-1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}
.index .cont-2 .slide-2{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.index .cont-2 .slide-3{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.index .cont-2 .slide-4{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.index .cont-2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.index .cont-2 .down{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.index .cont-2 .down button{
    width: 200px;
    background-color: rgb(230, 71, 71);
    border: none;
}
.index .cont-2 .down #less{
    width: 10px;
    background-color: white;
    font-size: 40px;
}

.index .cont-2 .down2{
    text-align: center;

}

.index .cont-2 .down2 h2{
    color: rgb(230, 71, 71);
    margin: 20px;
    font-weight: 60;
}

.index .cont-3{
    width: 100%;
    height: 350px;
    margin-top: 40px;
    background-color: beige;
}

.index .cont-3 h2{
    padding: 10px;
    color: rgb(230, 71, 71);
}
.index .cont-3 .box{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.index .cont-3 .box a{
    font-size: 50px;
    height: 50%;
    width: 25%;
    margin: auto;
    color: rgb(85, 83, 83);;
}
.index .cont-3 .box i{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


footer{
    width: 100%;
    height: 200px;
    background-color: rgb(230, 71, 71);
    bottom: 0;
}

footer h2{
    margin: 20px;
    text-shadow: 3px 3px 2px rgb(73, 72, 72);

}
footer h3{
    text-align: center;
    margin-top: 20px;
}
footer p{
    text-align: center;
    margin-top: 10px;
}

footer .center{
    display: flex;
    justify-content: space-evenly;

}
footer .center h1{
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
    font-size: 50px;
}

.login {
    width: 100%;
    height: 500px;
}
.login .cont-1{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    text-align: center;
}
.login .cont-1 h1{
    color: rgb(230, 71, 71);
    text-shadow: 3px 3px 2px rgb(75, 71, 71);
}
.login .cont-1 table{
    width: 80%;
    height: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px black dashed;
    border-radius: 15px;
    background-color: beige;
}
.login .cont-1 td{
    width: 50%;
    height: 60px;
    padding: 10px;
}

.login .cont-1 input{
    width: 100%;
    height: 25px;
}
.login .cont-1 button{
    width: 80%;
    height: 30px;
    margin: 10px;
    background-color: rgb(230, 71, 71);
    border: none;
}


.register {
    width: 100%;
    height: 650px;
}
.register .cont-1{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    text-align: center;
}
.register .cont-1 h1{
    color: rgb(230, 71, 71);
    text-shadow: 3px 3px 2px rgb(75, 71, 71);

}

.register .cont-1 table{
    width: 80%;
    height: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px black dashed;
    border-radius: 15px;
    background-color: beige;
}

.register .cont-1 td{
    width: 50%;
    height: 60px;
    padding: 10px;
}

.register .cont-1 input{
    width: 100%;
    height: 25px;
}
.register .cont-1 button{
    width: 80%;
    height: 30px;
    margin: 10px;
    background-color: rgb(230, 71, 71);
    border: none;
}




.profile{
    width: 100%;
    margin-top: 60px;
    position: relative;
}

.profile .cont-1{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.profile .cont-1 h1{
    margin: 10px;
    color: rgb(230, 71, 71);
    text-shadow: 3px 3px 2px rgb(75, 71, 71);

}
.profile .cont-1 .edit{
    display: none;
}

.profile .cont-1 #email{
    font-size: 20px;
}

.profile .cont-1 table{
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: start;
    border: black 2px solid;
    border-radius: 15px;
    background-color: beige;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.profile .cont-1 td{
    width: 50%;
    height: 60px;
    margin: auto;

}

.profile .cont-1 h2{
    font-weight: 50;
}

.profile .cont-1 label{
    padding: 10px;
}

.profile .cont-1 button{
    width: 90%;
    height: 40px;
    margin: 10px;
    background-color: rgb(230, 71, 71);
    border: none;
    font-size: 20px;
}
.profile .cont-2{
    width: 100%;
    text-align: center;
}
.profile .cont-2 h1{
    color: rgb(230, 71, 71);
    text-shadow: 3px 3px 2px rgb(75, 71, 71);
}
.profile .cont-2 .history{
    padding: 10px;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.profile .cont-2 table{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
.profile .cont-2 table td{
    padding: 5px;
    border: 2px solid black ;
    background-color: white;   
}
.profile .cont-2 button{
    width: 90%;
    height: 40px;
    background-color: rgb(230, 71, 71);
    border: none;
    font-size: 20px;
}
.profile .cont-2 .pop{
    display: none;
    background-color: beige;
}
.profile .cont-2 .pop .box{
    width: 90%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
}

.profile .cont-3{
    position: relative;
    bottom: 0;
}








.booking{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.booking .cont-1{
    width: 100%;
    height: 100%;
    text-align: center;
}

.booking .cont-1 h1{
    margin: 20px;
}

.booking .cont-1 table{
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    border: black 2px dashed;
    border-radius: 15px;
    background-color: beige;
}


.booking .cont-1 td{
    width: 50%;
    height: 60px;

}

.booking .cont-1 h2{
    font-weight: 50;
}

.booking .cont-1 label{
    padding: 10px;
}

.booking .cont-1 button{
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: rgb(230, 71, 71);
    border: none;
}



.success{
    margin-top: 100px;
}

.success .cont-1{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    text-align: center;
}

.success .cont-1 .box{
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 150px;
    border: 2px black dashed;
    border-radius: 15px;
    background-color: beige;
}
.success .cont-1 .box h1{
    color: green;
    font-size: 50px;
    margin: 10px;
}
.success .cont-1 .box h2{
    font-size: 20px;
    margin: 10px;
}
.success .cont-1 .box p{
    font-size: 18px;
}
.success .cont-1 button{
    width: 80%;
    height: 30px;
    background-color: rgb(230, 71, 71);
    margin: 10px;
    border: none;
}













.available{
    margin-top: 100px;
}
.available .cont-1 .search{
    width: 90%;
    height: 150px;
    margin: auto;
    text-align: center;
    background-color: beige;
    border: 2px black dashed;
}
.available .cont-1 .search h1{
    margin: 20px;
}
.available .cont-1 .search input{
    width: 70%;
    height: 30px;
}
.available .cont-1 .search button{
    width: 20%;
    height: 30px;
    background-color: rgb(230, 71, 71);
    border: none;
}

.available .cont-1 .list{
    margin-top: 20px;
    text-align: center;
    background-color: beige;
}

.available .cont-1 .list table{
    width: 95%;
    height: fit-content;
    margin: auto;
}
.available .cont-1 .list td{
    height: 30px;
    border: 1px black solid;
    background-color: white;

}
.available .cont-1 .list button{
    border: none;
    background-color: rgb(230, 71, 71);
    padding: 3px;
}


.error{
    width: 70%;
    height: 1000px;
    margin-left: 15%;
    background-color: beige;
    color: rgb(230, 71, 71);
}

.error .cont-1{
    position: absolute;
    width: 70%;
    height: 50%;
    top: 25%;
    background-color: white;
    text-align: center;
}
.error .cont-1 h1{
    font-size: 50px;
    margin: 10px;
    margin-bottom: 0;
}
.error .cont-1 h2{
    margin: 20px;
    margin-top: 10px;
}

.error .cont-1 h3{
    color: black;
}

.error .cont-1 button{
    width: 70%;
    height: 40px;
    margin-top: 50px;
    background-color: rgb(230, 71, 71);
    border: none;
    font-size: 25px;
}


