{% extends "Main.html" %} {% block content %}

<div class="profile">

        <div class="cont">
          
        
              <a type="button" href="/profile">
               Profile
              </a>
              <a type="button" onclick="history()">
                History
               </a>
               <a type="button" onclick="update()">
                Update
               </a>
            
  
            <div class="data">
              <label>Name</label>
              <h2>{{profile[2]}}</h2>
            </div>
            <div class="data">
              <label>Phone</label>
              <h2>{{profile[3]}}</h2>
            </div>
            <div class="data">
              <label>Email</label>
              <h2>{{profile[4]}}</h2>
            </div>
            
            <a type="button" href="/login" id="Logout">Logout</a>
  
          </div>
        </div>

</div>
<div class="history">

  <div class="cont">
    
  
        <a type="button" href="/profile">
         Profile
        </a>
        <a type="button" onclick="history()">
         History
        </a>
        <a type="button" onclick="update()">
          Update
         </a>
      
      <div class="box">
        {% for h in history %}
      <div class="data">
        <h2>Booking Id: {{h[0]}}</h2>
        <h2>Name: {{h[1]}}</h2>
        <h2>Age: {{h[2]}}</h2>
        <h2>Gender:{{h[3]}}</h2>
        <h2>Air Line: {{h[6]}}</h2>
        <h2>Flight: {{h[7]}} To {{h[8]}}</h2>
        <h2>Depature: {{h[9]}}</h2>
      </div>
      {% endfor %}
    </div>

    </div>
</div>

<div class="update">

  <div class="cont">
    
  
        <a type="button" href="/profile">
         Profile
        </a>
        <a type="button" onclick="history()">
          History
         </a>
         <a type="button" onclick="update()">
          Update
         </a>
      
         <form method="post">
        <input
          type="text"
          name="name"
          placeholder="Enter Your Name"
          required
        ></input><br>
        <input
          type="email"
          name="email"
          placeholder="Enter Email Id"
          required
        ></input><br>
        <input
        type="tel"
        name="phone"
        placeholder="Enter Phone Number"
        pattern="[0-9]{10}"
        required
      ></input><br>
      <button type="submit">Update</button>
    </form>
    </div>
  </div>

</div>
   

 
{% endblock %}