{% extends "Main.html" %} 
{% block content %}


<div class="register">
    <div class="cont-1">
        <form method="post">
        <h1>Sign Up</h1>
        <input
          type="text"
          name="name"
          placeholder="Enter Your Name"
          required
        ></input><br>
        <input
          type="email"
          name="email"
          placeholder="Enter Email Id"
          required
        ></input><br>
        <input
        type="tel"
        name="phone"
        placeholder="Enter Phone Number"
        pattern="[0-9]{10}"
        required
      ></input><br>
      <input
          type="text"
          name="user"
          placeholder="Enter UserId"
          required
        ></input><br>
        <input
          type="password"
          name="userPass"
          minLength="8" 
          maxLength="16"
          placeholder="Enter User Password"
          required
        ></input><br>
        <input
          type="password"
          name="repass"
          placeholder="Re-Enter User Password"
          required
        ></input><br>
        <button type="submit">Sign Up</button>
        </form>
    </div>  

{% endblock %}