{% extends "Main.html" %} 
{% block content %}
        <div class="success">
            
               
                        <h1><i class="fa-regular fa-circle-check"></i></h1>
                        <h2>Your Tickets Booked Successfully</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt fugit autem, eveniet voluptatibus a quae quod perspiciatis dolores fugiat esse</p>
                   
                            
                    <button><a href="/passenger">OK</a></button>
                

                
            
          
        </div>
   
    